. {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin: 20px;
}

.game-area {
	background-color: #222;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 500px;
	width: 500px;
	margin: 0 auto;
}

.card {
	position: relative;
	height: 20%;
	width: 20%;
	margin: 10px;
}

.card-back {
	background-color: blue;
	position: absolute;
	height: 100%;
	width: 100%;
}

.card-front {
	background-color: red;
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
}